stages:
  - backend
  - env
  - test
  - build
  - deploy 

before_script:
  - apt-get update -y
  - apt-get install -y curl unzip
  - TF_VERSION="1.13.5"
  - curl -L -o terraform.zip "https://releases.hashicorp.com/terraform/${TF_VERSION}/terraform_${TF_VERSION}_linux_amd64.zip"
  - unzip terraform.zip
  - mv terraform /usr/local/bin
  - terraform --version

# --- Backend Setup (Runs infrequently/manually) ---
setup-backend: 
  stage: backend
  script:
    - cd statefile-locking
    - terraform init
    - terraform validate
    - terraform apply --auto-approve
  rules:
    - if: '$CI_COMMIT_TITLE =~ /backend-setup/'
      when: manual
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - statefile-locking/**/*
      when: on_success
    - when: never

# --- Backend Vars Retrieval (Always runs to satisfy dependencies) ---
get-backend-vars:
  stage: env
  script:
    - cd statefile-locking
    - terraform init
    
    # Combined command: 
    # 1. Runs 'terraform output -raw statefile'
    # 2. Redirects standard error (2) to /dev/null (silences warnings/errors)
    # 3. Pipes the clean bucket name to sed to remove any non-printable characters.
    # 4. Pipes the result to awk to format it as KEY=VALUE.
    # 5. Writes the result to backend.env.
    - terraform output -raw statefile 2>/dev/null | sed 's/[^[:print:]]//g' | awk -v name="TF_STATE_BUCKET" '{print name"="$0}' > backend.env
    
    # Optional: Read the variable back out to confirm it's clean (for debugging)
    - echo "--- Contents of backend.env ---"
    - cat backend.env
    
  artifacts:
    reports:
      dotenv: statefile-locking/backend.env
  when: on_success

# --- Root Jobs: Test (Plan/Validation) ---
test-root:
  stage: test
  needs:
    - get-backend-vars
  script:
    - cd root
    - echo "Using backend S3 bucket $TF_STATE_BUCKET"
    - terraform init -backend-config="bucket=$TF_STATE_BUCKET" -backend-config="key=environments/root-module.tfstate" -backend-config="region=ap-southeast-1" -backend-config="use_lockfile=true" -backend-config="encrypt=true"
    - terraform validate
    - terraform plan
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - root/**/*
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - root/**/*

# --- Root Jobs: Build (Apply) ---
build-root:
  stage: build
  needs:
    - get-backend-vars
  script:
    - cd root
    - terraform init -backend-config="bucket=$TF_STATE_BUCKET" -backend-config="key=environments/root-module.tfstate" -backend-config="region=ap-southeast-1" -backend-config="use_lockfile=true" -backend-config="encrypt=true"
    - terraform apply --auto-approve
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - root/**/*
      when: on_success
    - when: never