stages:
  - test
  - build
  - deploy 

before_script:
  - apt-get update -y
  - apt-get install -y curl unzip
  - TF_VERSION="1.13.5"
  - curl -L -o terraform.zip "https://releases.hashicorp.com/terraform/${TF_VERSION}/terraform_${TF_VERSION}_linux_amd64.zip"
  - unzip terraform.zip
  - mv terraform /usr/local/bin
  - terraform --version

# --- Root Jobs: Test (Plan/Validation) ---
test-root:
  stage: test
  script:
    - cd root
    - terraform init 
    - terraform validate
    - terraform plan
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - root/**/*
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - root/**/*

# --- Root Jobs: Build (Apply) ---
build-root:
  stage: build
  needs:
    - get-backend-vars
  script:
    - cd root
    - terraform init
    - terraform apply --auto-approve
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - root/**/*
      when: on_success
    - when: never